<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
        <!-----------------------------------Links------------------------------------->
        <script src="https://code.angularjs.org/1.3.2/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.3.2/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.29/angular-ui-router.min.js" ></script>
        <!-----------------------------------Links------------------------------------->
        <link rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular App</title>
</head>
<body >
        <button ng-click="studentsController.reloadData()">Reload Data</button>
        <table style="font-family: Arial">
                <tr>
                    <td colspan="2" class="header">
                        <h1>
                             Website Header
                        </h1>
                    </td>
                </tr>
                <tr>
                   <td class="leftMenu">
                        <a ui-sref="home">Home</a>
                        <a ui-sref="courses">Courses</a>
                        <a ui-sref="students">Students</a>
                   </td>
                   <td class="mainContent">
                           <ui-view></ui-view>

                   </td>
                </tr>
                <tr>
                     <td colspan="2" class="footer">
                        <b>Website Footer</b>
                     </td>
                </tr>
        </table>
        <script src="app.js" ></script>
</body>
</html>